#set-amountCont {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 200;
    opacity: 0;
    pointer-events: none;
   
}

#set-amountCont.hide {
    opacity: 0;
    pointer-events: none;
}

#set-amountCont.show {
    opacity: 1;
    pointer-events: auto;
}

#set-amountCont .setAmount {
    height: 240px;
    width: 350px;
    background-color: #68BB69;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    z-index: 201;
    gap: 15px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
}

.setAmount input {
    margin-top: 10px;
}

#set-amountCont button {
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #272B2C;
    color: white;
}

.setAmount p {
    margin-top: 20px;
    font-size: 1.3rem;
}

.budgetBtn {
    width: 100px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    background-color: #272B2C;
    color: white;
}

.budgetBtn:hover {  
    box-shadow: 1px 1px 1px black;
}

.budgetBtn:active {
    background-color: #5e6465;   
}

.budget-blur-bg {
    position: absolute;
    z-index: 1;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130vw;
    height: 140vh;
    backdrop-filter: blur(10px);
    display: block;
}

.digital-input {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 1.6rem;
    border: none;
    outline: none;
    width: 200px;
    text-align: left; 
    padding-left: 10px;
    background: none; 
    color: black;
    -moz-appearance: textfield;
}

    .digital-input::placeholder {
        color: black; 
    }

   
    .digital-input::-webkit-inner-spin-button,
    .digital-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.digital-input {
    -moz-appearance: textfield;
}

.balance-monthYear {
    position: absolute;
    top: -59px;
    left: 30px;  
}

.balance-monthYear select {
    width: 150px;
    padding: 8px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #72E25A;
    text-align: center;
}


