@{
    ViewData["Title"] = "Dashboard";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_LandingPageLayout";
}

<link href="~/css/whyexpensetracker.css" rel="stylesheet" />

<div class="general-container">
    <div class="header-title">
        <h1 style="font-size: 50px;">
            Why Choose Expense Tracker?
        </h1>
    </div>
    <div class="card-container">
        <div class="card">
            <h1>
                Track Your Spending
            </h1>
            <p>
                Stay on top of every expense in real time to avoid overspending and stick to your budget.
            </p>
        </div>

        <div class="card">
            <h1>
                Organize by Category
            </h1>
            <p>
                Add custom categories for all expenses to get a clear view of where your money goes.
            </p>
        </div>

        <div class="card">
            <h1>
                See Detailed Reports
            </h1>
            <p>
                Generate visual reports and summaries to easily track spending trends and make data-driven financial decisions.
            </p>
        </div>

        <div class="card">
            <h1>
                Set Preferences for Your Needs
            </h1>
            <p>
                Customize your experience and set preferences to track what matters most to you.
            </p>
        </div>

        <div class="card">
            <h1>
                Build Better Financial Habits
            </h1>
            <p>
                Gain insight into your spending habits and make adjustments to save more and reach your goals.
            </p>
        </div>

    </div>
</div>



